<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Add home to airbnb</title>
</head>

<link rel="stylesheet" href="/addhome.css"/>
<body>
  <header>
    <a href="/"> Go To Home</a>
    <a href="/host/add-home">Add Home</a>
  
  </header>

  <h1>Regrister Your Home  </h1>
  <div class="box">
  <form action ="/host/add-home"  method="POST">
  <input type="Text" name="name" placeholder="Enter  Name of  your Name" required id="inpt"/> <br>
  <input type="Text" name="E-mail" placeholder="Enter  Name of  your Email" required id="inpt"/> <br>
  <input type="Text" name="Adress" placeholder="Enter  Name of  your Adress" required id="inpt"/><br> <br>
  <input type="number" name="Number" placeholder="Enter  Name of  your Phone Number" required id="inpt"/><br> <br>
 
  <input type="submit" id="btn"/>
  </form>
</div>
</body>
</html>